
.cards{
    background: #F3F2ED;
    
}
/* .card-cont1 {
    width: 98.8vw;
    height: 1000px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    justify-items: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between; */
/* }

.card-cont {
    background: #F3F2ED;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .card {

    width: calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  */
/* .card-cont1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */
  
  /* .card {
    width: calc(33.33% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  /* .card-content {
    padding: 20px;
  }
  
  .card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } */
  
  /* .card-title {
    margin-top: 0;
  }
  
  .card-text {
    margin-bottom: 0;
  } */
/* .card-image {
    width: 59px;
    height: 50px;
    display: block;
    border: 2px solid red;
    border-radius: 200px;
    padding: 20px;
    position: relative;
    top: 10px;
} */

/* .card-content {
    padding: 20px;
    background-color: white;
    box-shadow: 14px 9px 4px rgba(0, 0, 0, 0.1);
    width: 413px;
    height: 278px;
    text-align: center;
} */


/* .philosphy-text {
    gap: 12px;
    opacity: 0px;
}

.card-title1 :first-child {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.011em;
    text-align: left;
} */

/* .philosphy-text span {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #D39C41;
} */

/* .card-title1 :nth-child(2) {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #D39C41;
    position: relative;
    top: -30px;
} */

/* .card-content:hover {
    background-image: url('../../../public/Images/landing.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(232, 217, 217);
}


.card img:hover {
    background-color: rgb(231, 237, 167);
} */

/* Media Queries */
/* @media only screen and (min-width: 670px) and (max-width: 1024px) {
    .card-cont {
        margin-top: 90px;
    }

    .card-cont1 {
        padding-top: 40px;
        width: 90vw;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }



    .card {
        width: 90%;
        height: auto;
    }

    .card-image {
        width: 80px;
        height: 80px;
        padding: 10px;
        top: 10px;
    }

    .card-content {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .card-title1 :first-child,
    .philosphy-text span {
        padding-top: 50px;
        font-size: 36px;
        line-height: 23.2px;
        font-size: 28px;
    }

    .card-title1 :nth-child(2) {
        font-size: 16px;
        line-height: 24px;
        top: -15px;
    }

    .card-content:hover {
        background-image: url('../../../public/Images/landing.avif');
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgb(232, 217, 217);
    }
} */