.comments{
    width: 100vw;
    /* border: 2px solid gray; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,25fr);
    background-color: #eadc5f;
    }
    
    .comment-card{
    margin: 4px 5px;
    width: 20vw;
    height: 25vh;
    border: 2px solid green;
    padding: 10px;
    background-color: #21afc8;
    /* overflow: scroll; */
}