.islamic-knowledge {
    width: 98.5vw;
    height: 790px;
    left: 668px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    /* border: 2px solid red; */
    background: #F3F2ED;
    background-image: url(/public/Images/Section.png);
}

.masjid {
    background-image: url(/public/Images/Namaz.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -120px;
    left: 340px;
    width: 412px;
    height: 417px;
    gap: 0px;
    border-radius: 200px 200px 8px 8px;
    opacity: 0px;
}

.bismillah {
    width: 525px;
    height: 215px;
    gap: 38px;
    opacity: 0px;
    background-image: url(/public/Images/bismillah.png);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    top: -400px;
    left: 880px;
}

.bismillah #para-bismillah {
    /* //styleName: para/regular(16px); */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    position: relative;
    top: 150px;
    left: 260px;
}

.guides {
    width: 646px;
    height: 236px;
    gap: 36px;
}

.guides #para-guides {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.011em;
    text-align: left;
    position: relative;
    top: -280px;
    left: 150px;
}

#para-guides>span {
    color: #D39C41;
}

.guides #ethical {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;
    color: #D39C41;
    position: relative;
    top: -300px;
    left: 150px;
}


.guides button {
    width: 177px;
    height: 48px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    color: white;
    background: #114A37;
    /* Green background color */
    border: none;
    /* Remove border */
    border-radius: 5px;
    /* Add border radius for rounded corners */
    cursor: pointer;
    position: relative;
    top: -290px;
    left: 150px;
}

.guides button:hover {
    transition: margin-right 2s;
}

.tahajud {
    background-image: url('/public/Images/Namaz(2).png');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    width: 406px;
    height: 382px;
    gap: 0px;
    border-radius: 200px 200px 8px 8px;
    opacity: 0px;
    top: -550px;
    left: 1000px;
    border: 2px solid red;
}

.moreBtn {
    position: relative;
    background-color: #075e54;
    border-radius: 0.25rem;
    padding: 0.5rem 2.5rem;
    font-size: 0.875rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.moreBtn::before {
    content: "";
    background-color: #f0ae45;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 800ms ease-in-out;
    display: inline-block;
}

.moreBtn:hover::before {
    width: 100%;
    color: #fff;
}

/* Media Querey for Tablet Mode */
/* Media Query for Tablet Mode */
@media only screen and (min-width: 631px) and (max-width: 1024px) {
    .islamic-knowledge {
        width: 100%;
        height: 800px;
    }

    .masjid {
        width: 300px;
        height: 300px;
        top: -50px;
        left: 10%;

    }

    .bismillah {
        width: 80%;
        height: auto;
        top: -250px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bismillah #para-bismillah {
        top: 130px;
        left: 520px;
        width: 350px;
        height: 200px;
    }

    .guides {
        width: 80%;
        height: auto;
        position: relative;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .guides #para-guides,
    .guides #ethical {
        top: 40%;
        left: 38%;
        transform: translateX(-50%);
    }

    .guides button {
        position: relative;
        top: 40px;
    }

    .tahajud {
        width: 50%;
        height: 60%;
        position: relative;
        top: -500px;
        left: 720px;
        transform: translateX(-50%);
        border: none;
        background-image: url('/public/Images/Namaz(2).png');
        border-radius: 20px;
    }

    .moreBtn {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
}