.instructor-Container {
    width: 90vw;
    height: 450px;
    top: 4655px;
    padding: 60px 80px 60px 80px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    margin-top: 70px;
    background: #F3F2ED;
    display: flex;
    justify-content: space-between;
}

.instructor-Container h1 {
    width: 233px;
    height: 51px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.011em;
    text-align: left;

}

.teacher1 img,
.teacher2 img {
    display: inline;
    padding: 4px;
}

.teacher1,
.teacher2 {
    width: 814px;
    height: 294px;
    padding: 25px 0px 0px 0px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    background: #FDFDFD;
    box-shadow: 0px 3px 15px 0px #00000026;
    margin-top: 60px;
}

.stars {
    width: 267px;
    height: 143px;
    gap: 8px;
    opacity: 0px;
    position: relative;
    top: -100px;
    left: 440px;
}

#reviews {
    position: relative;
    left: 150px;
    color: #DDB245;

}

.stars p:nth-child(2) {
    width: 267.17px;
    height: 21px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.011em;
    text-align: right;
}

.stars p:nth-child(3) {
    width: 267.17px;
    height: 21px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.011em;
    text-align: right;
}

.student1 {
    display: flex;
}

.student1 p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

@media only screen and (min-width: 670px) and (max-width: 1024px) {
    .instructor-Container {
        width: 90%;
        padding: 40px 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .instructor-Container h1 {
        width: 100%;
        height: 30vh;
        text-align: center;
        margin-bottom: 20px;
    }

    .teacher1,
    .teacher2 {
        border: 2px solid;
        width: 100%;
        height: 35vh;
        margin-top: 20px;
    }

    .stars p:nth-child(2) {
        width: 267.17px;
        height: 21px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: -0.011em;
        text-align: right;
        position: relative;
        top: -150px;
        left: 260px;
    }

    .stars p:nth-child(3) {
        width: 267.17px;
        height: 21px;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 200;
        line-height: 17px;
        letter-spacing: -0.011em;
        text-align: right;
        position: relative;
        top: -160px;
        left: 270px;
    }

    .stars {
        top: 0;
        left: 0;
        margin: 20px auto 0;
        text-align: center;
    }

    #reviews {
        position: relative;
        left: 350px;
        top: -50px;
    }
}