.container{
    width: 500px;
    border: 2px solid rgb(184, 19, 19);
    margin: auto;
}
.container #pwd-input{
    width: 300px;
    margin: 8px 29px 28px 35px;
    height: 30px;
    font-size: 16px;
    background-color: #ab9292;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}