.top-footer {
    width: 1160px;
    height: 371px;
    top: 5305px;
    padding: 36px 255px 36px 255px;
    background-image: url('../../../public/Images/footer.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.top-footer p:nth-child(2) {
    width: 760px;
    height: 60px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-align: center;
}

.top-footer p:nth-child(3) {
    font-family: Amiri;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    position: relative;
    top: -60px;
}

.top-footer p:nth-child(4) {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-align: center;
    position: relative;
    top: -90px;
}

.bottom-footer {
    width: 1160px;
    height: 471px;
    /* top: 5305px; */
    padding: 36px 255px 36px 255px;
    background-image: url('../../../public/Images/masjid.png');
    background-repeat: no-repeat;
    background-position: center;
}

.advance-courses,
.links,
.admissions,
.regular-courses {
    width: 280px;
    height: 320px;
    padding: 4px;
    text-align: left;
}

.links {
    width: 100px;
}

li {
    list-style-type: none;
    padding: 4px;
}

a {
    text-decoration: none;
    color: black;
}

.links ul li,
.advance-courses ul li,
.admissions ul li,
.regular-courses ul li {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.bottom-footer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.regular-courses h1 {
    padding-left: 27px;
}

.advance-courses h1 {
    padding-left: 27px;
}

.links h1 {
    padding-left: 30px;
}

.admissions h1 {
    padding-left: 35px;
}

footer li::before {
    content: "";
    background-color: #075e54;
    width: 0;
}

li::before {
    display: inline-block;
}

footer li:hover::before {
    width: 100%;
}

footer a:hover {
    color: #fff;
    background-color: #73e627;
}

.advance-courses ul li a:hover {
    background-color: #73e627;
    color: #090707;
}

.admissions ul li a:hover {
    background-color: #73e627;
    color: #090707;
}

.regular-courses ul li a:hover {
    color: black;
    background-color: #73e627;
}

.links ul li a:hover {
    background-color: #73e627;
    color: #090707;
}

@media only screen and (min-width: 670px) and (max-width: 1024px) {

    .top-footer,
    .bottom-footer {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }

    .top-footer {
        height: auto;
        margin-top: 80px
    }

    img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        padding-top: 50px;
    }

    .top-footer {
        height: auto;
    }

    .top-footer p:nth-child(2),
    .top-footer p:nth-child(3),
    .top-footer p:nth-child(4) {
        width: 100%;
        padding: 0 20px;
        font-size: 13px;
    }

    .top-footer p:nth-child(3),
    .top-footer p:nth-child(4) {
        font-size: 13px;
    }

    .bottom-footer {
        height: auto;
        background-size: contain;
    }

    .advance-courses,
    .links,
    .admissions,
    .regular-courses {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 39px;
    }

    .advance-courses h1,
    .links h1,
    .admissions h1,
    .regular-courses h1 {
        font-size: 22px;
        width: 100px;
    }

    footer li::before {
        width: 0;
    }
}